@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #161514, #362012); /* Creates a smooth gradient from yellow to blue */
    height: 100vh; /* Ensures the background covers the full viewport height */
    margin: 0;
}

nav{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: baseline;
}

.account{
    color:white;
    width: 30%;
    height: 60%;
    margin-left: 60%;
    margin-top: 1%;
    
}

.home-button{
    color: white;
    font-size: x-large;
    margin-left: 2em;
}

.gallery-button{
    color: white;
    font-size: x-large;
    margin-left:3em;
}

.auction-button{
    color: white;
    font-size: x-large;
    margin-left:3em;
}
.form-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo{
    color:#974614;
    font-size: 5rem;
}
.tagline{
    color: white;
    font-size: 1.5rem;

}
.login-form{
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 30%;
    height: 50%;
    border: white solid;
    border-radius: 8px;
}
.email-input{
    width: 85%;
    margin-left: 2%;
    margin-top: 10%;
    height: 10%;
    border-radius: 8px;
}

.password-input{
    width: 85%;
    margin-left: 2%;
    margin-top: 10%;
    height: 10%;
    border-radius: 8px;
}
.login-button{
    background-color: rgb(33, 33, 33);
    color: white;
    width: 85%;
    margin-left: 2%;
    margin-top: 10%;
    height: 10%;
    border-radius: 8px;
}
#labels{
    font-size: large;
    color: #974614;
    margin-right: 75%;
}